body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
  padding: 0;
}

.body{
    padding: 2rem;
}

.header{
    display:flex;
    justify-content: space-between;
    /* border: 1px solid black;
    left: 0; */
    background-color: white; /* Set the background color to white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  width: 100%; /* Extend the header to full width */
  margin: 0; /* Remove margin to touch left and right sides */

}

.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    padding-left: 1rem;
    max-width: 14rem;
    height: 2.7rem;
    display: block;
    cursor: pointer;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}


.nav-items > ul >li{
    padding: 10px;
    margin: 10px;

    font-size: 1.1rem;
    line-height: 1.5;
    text-align: right;
    vertical-align: middle;
    font-weight: 500;

    cursor: pointer;
    border-radius: 0.6rem;
    padding: 0.8rem !important;
}

.res-card{
    border-radius: 1.5rem;
    border: 0.1rem solid rgb(255, 255, 255);
    overflow: hidden;
    width: 20rem;
    height: 22.4rem;
    transition: transform 0.4s ease-in-out;
}

.res-card:hover{
    padding: 0.5rem;
    border: 0.1rem solid rgb(232, 232, 232);
    cursor: pointer;
    transform: scale(1.02);
}

.res-logo{
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    height: 13.8rem;
    padding: 0rem;
}

.card-title{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.rating-chip{
    background-color: rgb(36, 150, 63);
    color: rgb(255, 255, 255);
    height: 1.5rem;
    min-width: 2.6rem;
    padding: 0px 0.2rem;
    font-size: 0.9rem;
    border-radius: 0.6rem;
    border: 1px solid rgb(36, 150, 63);
    align-items: end;
}

.res-name{
    font-size: 1.1rem;
    font-weight: bold;

}

.card-body{
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

.secondary-text{
    text-align: left;
    max-width: 56%;
}

.card-footer{

    padding-right: 0.7rem;
    display: flex;
   justify-content: end;
   align-items: start;
   font-size: 0.8rem;
   text-overflow: ellipsis;
   color: rgb(105, 105, 105);
   
}

.card-footer p{
    margin: 0px !important;
}